<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create New Password</title>
    <%- include ('partials/head.ejs') %>
    <link rel="stylesheet" href="../css/signin.css">
    
</head>

<body>

    <header>
        <%- include ('partials/header.ejs') %>
    </header>
    <section id="full">

        <% if(error) {%>
            <% if(errorType==='Success' ) { %>
                <div class="error_container error_container--success">
                    <div class="col--1">
                        <div class="error_container__icon">
                            <i class="fas fa-check-circle"></i>
                        </div>
                    </div>
                    <div class="col--2">
                        <div class="error_container__title heading-3">
                            Success
                        </div>
                        <span class="para-1 error" id="cancelLogin">
                            <%= error %>
                                <!-- Valid Only for 60 Seconds. -->
                        </span>
                    </div>
                    <div class="col--3">
                        <div class="error_container__icon" id="cross">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                </div>
                <% } %>
                    <% if(errorType==='Failure' ) { %>
                        <div class="error_container">
                            <div class="col--1">
                                <div class="error_container__icon">
                                    <i class="fas fa-times-circle"></i>
                                </div>
                            </div>
                            <div class="col--2">
                                <div class="error_container__title heading-3">
                                    Failure
                                </div>
                                <span class="para-1 error" id="cancelLogin">
                                    <%= error %>
                                        <!-- Valid Only for 60 Seconds. -->
                                </span>
                            </div>
                            <div class="col--3">
                                <div class="error_container__icon" id="cross">
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% if(errorType==='Info' ) { %>
                                <div class="error_container error_container--info">
                                    <div class="col--1">
                                        <div class="error_container__icon">
                                            <i class="fas fa-info-circle"></i>
                                        </div>
                                    </div>
                                    <div class="col--2">
                                        <div class="error_container__title heading-3">
                                            Info
                                        </div>
                                        <span class="para-1 error" id="cancelLogin">
                                            <%= error %>
                                                <!-- Valid Only for 60 Seconds. -->
                                        </span>
                                    </div>
                                    <div class="col--3">
                                        <div class="error_container__icon" id="cross">
                                            <i class="fas fa-times"></i>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                    <% } %>

                                        <div class="formcont">
                                            <h1>Create New Password</h1>
                                            <hr>
                                            <form class="signinform" action="/create-new-password" method="POST">
                                                
                                                <div class="pass_eye">
                                                    <input type="password" name="newPassword" id="password"
                                                    placeholder="Enter Password"
                                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                                                    required>
                                                <i class="far fa-eye togglePassword1" id="togglePassword"></i>
                                            </div>
                                                <input type="password" name="newPasswordConfirm" id="new_password"
                                                    placeholder="Confirm Password">
                                                <div class="sbmt">
                                                    <button class="darkbluebtn btn" id="login"
                                                        type="submit">SUBMIT</button>
                                                    <i class='fas fa-arrow-right arrow'></i>
                                                </div>
                                            </form>

                                        </div>


    </section>
    <section class="foooter">
        <h6>All Rights Reserved. &#169 tvastra 2021</h6>
    </section>
    <script src="../js files/index.js"></script>
    <script src="../js files/togglepassword.js"></script>
    <script>
        const error = document.querySelector('.error_container');
        const cross = document.querySelector('.col--3');
        const hideError = () => {
            error.style.display = 'none';
            fetch('/disable-error', {
                method: 'put'
            });
        }

        if (error) {
            fetch('/disable-error', {
                method: 'put'
            });
            setTimeout(() => {
                error.style.display = 'none';
            }, 5000);
        }

        cross.addEventListener('click', hideError);
    </script>
</body>

</html>