<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doctor</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="stylesheet" href="../css/doctor.css">
    <script src="https://kit.fontawesome.com/c08742ea51.js" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body>
    <header>
        <%- include ('partials/header.ejs') %>
    </header>
    <div class="doc_top">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png" alt="Surgeon">
        <!-- <h1>Cardiac Surgeon in <u>Delhi</u></h1> -->
        <h1>
            <%= console.log(session) %>
                <%= session.filters && session.filters.treatment_filter ? session.filters.treatment_filter[0]
                    : 'All Doctors' %>
                    <%= session.filters && session.filters.location ? 'in ' : '' %><span>
                            <%= session.filters && session.filters.location ?
                                session.filters.location[session.filters.location.length - 1] : '' %>
                        </span>
        </h1>
    </div>
    <div class="title doc_cont">
        <span><a href="/">Home</a> <a href="doctors">/ Doctor List</a></span>

        <form method="POST" action="/sort-by" id="sort">
            <select class="breadcrumb__sort" name="sort" onchange="this.form.submit()" id="sortbtn">
                <option value="not-specified" selected disabled>Sort By</option>
                <option value="name-asc">Name A-Z</option>
                <option value="name-desc">Name Z-A</option>
                <option value="doctor.avg_fees-asc">Fees Low-High</option>
                <option value="doctor.avg_fees-desc">Fees High-Low</option>
                <option value="doctor.experience-desc">Experience</option>
            </select>
        </form>
    </div>
    <section class="doc_main">
        <div class="filter">
            <h5>Filter By</h5>
            <div class="doctor_list__container__col-1__filter-by__tags"
                id="doctor_list__container__col-1__filter-by__tags">
                <% if(filter) { %>
                    <% let key=Object.keys(filter) %>
                        <% key.forEach(el=> { %>
                            <% for(let i=0; i < filter[el].length; i++) { %>
                                <div class="filter_button">
                                    <p class="text">
                                        <%= filter[el][i] %>
                                    </p>
                                    <button onclick="form_submit(this)">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                                <% } %>
                                    <% }) %>
                                        <% } %>
            </div>
            <form class="filt" id="filter_form" action="/add-filters" method="POST">
                <div>
                    <span>
                        <h6>Location</h6>
                        <span class="doctor_list__container__col-1__filter__search"><i class="fa fa-search"></i></span>
                        <span class="doctor_list__container__col-1__filter__collapse"><i class="fa fa-minus"></i></span>
                    </span>
                    <div>
                        <% for(let i=0; i < filters.location.length; i++) { %>
                            <% if(i <=6) { %>
                                <input type="checkbox"
                                    class="<%= '_' + filters.location[i].split(' ').join('-') %> checkbox_container"
                                    onclick="this.form.submit()" id="New Delhi" name="location[]"
                                    value="<%= filters.location[i] %>"><label class="checkbox_container"
                                    for="New Delhi">
                                    <%= filters.location[i] %>
                                </label>
                                <% } else { %>
                                    <input type="checkbox"
                                        class="display_none <%= '_' + filters.location[i].split(' ').join('-') %> checkbox_container"
                                        onclick="this.form.submit()" id="New Delhi" name="location[]"
                                        value="<%= filters.location[i] %>"><label
                                        class="checkbox_container display_none" for="New Delhi">
                                        <%= filters.location[i] %>
                                    </label>
                                    <% } %>
                                        <% } %>

                    </div>
                    <% if(filters.location.length> 6) { %>
                        <!-- <div class="doctor_list__container__col-1__filter__show_more" id="show-more" onclick="showMore(this)">+ Show More</div> -->
                        <a class="showmore doctor_list__container__col-1__filter__show_more" id="show-more"
                            onclick="showMore(this)">+ Show More</a>
                        <% } %>
                            <a class="showmore doctor_list__container__col-1__filter__show_more display_none "
                                id="show-less" onclick="showLess(this)">- Show Less</a>


                </div>
                <hr>
                <div>
                    <span>
                        <h6>Specialization</h6>
                        <span class="doctor_list__container__col-1__filter__search"><i class="fa fa-search"></i></span>
                        <span class="doctor_list__container__col-1__filter__collapse"><i class="fa fa-minus"></i></span>
                    </span>

                    <div>
                        <% for(let i=0; i < filters.specializations.length; i++) { %>
                            <% if(i <=6) { %>
                                <input type="checkbox"
                                    class="<%= '_' + filters.specializations[i].split(' ').join('-') %> checkbox_container"
                                    onclick="this.form.submit()" id="New Delhi" name="specializations[]"
                                    value="<%= filters.specializations[i] %>"><label class="checkbox_container"
                                    for="New Delhi">
                                    <%= filters.specializations[i] %>
                                </label>
                                <% } else { %>
                                    <input type="checkbox"
                                        class="display_none <%= '_' + filters.specializations[i].split(' ').join('-') %> checkbox_container"" onclick="
                                        this.form.submit()" id="New Delhi" name="specializations[]"
                                        value="<%= filters.specializations[i] %>"><label
                                        class="checkbox_container display_none" for="New Delhi">
                                        <%= filters.specializations[i] %>
                                    </label>
                                    <% } %>
                                        <% } %>

                    </div>
                    <% if(filters.specializations.length> 6) { %>
                        <a class="showmore doctor_list__container__col-1__filter__show_more" id="show-more"
                            onclick="showMore(this)">+ Show More</a>
                        <% } %>
                            <a class="showmore doctor_list__container__col-1__filter__show_more display_none"
                                id="show-less" onclick="showLess(this)">- Show Less</a>
                </div>

                <hr>
                <div>
                    <span>
                        <h6>Hospital</h6>
                        <span class="doctor_list__container__col-1__filter__search"><i class="fa fa-search"></i></span>
                        <span class="doctor_list__container__col-1__filter__collapse"><i class="fa fa-minus"></i></span>
                    </span>
                    <div>
                        <% for(let i=0; i < filters.hospital.length; i++) { %>
                            <% if(i <=6) { %>
                                <input type="checkbox"
                                    class="<%= '_' + filters.hospital[i].split(' ').join('-') %> checkbox_container"
                                    onclick="this.form.submit()" id="New Delhi" name="hospital[]"
                                    value="<%= filters.hospital[i] %>"><label class="checkbox_container"
                                    for="New Delhi">
                                    <%= filters.hospital[i] %>
                                </label>
                                <% } else { %>
                                    <input type="checkbox"
                                        class="display_none <%= '_' + filters.hospital[i].split(' ').join('-') %> checkbox_container"
                                        onclick="this.form.submit()" id="New Delhi" name="hospital[]"
                                        value="<%= filters.hospital[i] %>"><label
                                        class="checkbox_container display_none" for="New Delhi">
                                        <%= filters.hospital[i] %>
                                    </label>
                                    <% } %>
                                        <% } %>

                    </div>
                    <% if(filters.hospital.length> 6) { %>
                        <a class="showmore doctor_list__container__col-1__filter__show_more" id="show-more"
                            onclick="showMore(this)">+ Show More</a>
                        <% } %>
                            <a class="showmore doctor_list__container__col-1__filter__show_more display_none "
                                id="show-less" onclick="showLess(this)">- Show Less</a>



                </div>
                <hr>
                <div>
                    <span>
                        <h6> Years of Experience</h6>
                        <span class="doctor_list__container__col-1__filter__search"><i class="fa fa-search"></i></span>
                        <span class="doctor_list__container__col-1__filter__collapse"><i class="fa fa-minus"></i></span>
                    </span>
                    <div>
                        <input id="30+" value="30" class="_30" type="checkbox" name="experience[]"
                            onclick="this.form.submit()">
                        <label class="checkbox_container" for="30+">30+</label>

                        <input id="25+" value="25" class="_25" type="checkbox" name="experience[]"
                            onclick="this.form.submit()">
                        <label class="checkbox_container" for="25+">25+</label>

                        <input id="20+" value="20" class="_20" type="checkbox" name="experience[]"
                            onclick="this.form.submit()">
                        <label class="checkbox_container" for="20+">20+</label>

                        <input id="15+" value="15" class="_15" type="checkbox" name="experience[]"
                            onclick="this.form.submit()">
                        <label class="checkbox_container" for="15+">15+</label>

                        <input id="10+" value="10" class="_10" type="checkbox" name="experience[]"
                            onclick="this.form.submit()">
                        <label class="checkbox_container" for="10+">10+</label>

                        <input id="5+" value="5" class="_5" type="checkbox" name="experience[]"
                            onclick="this.form.submit()">
                        <label class="checkbox_container" for="5+">5+</label>
                    </div>
                    <hr>
                </div>
            </form>


        </div>

        <div class="grid doctor_list__container__col-2 doctors_list">
            <% if(doctors.length===0) { %>
                <h4 class="heading-4 no-result">No results where found for this query</h4>
                <% } else { %>
                    <% for(let i=0; i < doctors.length; i++){ %>

                        <div class="doctor_list__container__col-2__card doctor_list__container__col-2__card-1 ">
                            <div height="min-content" class="doc_pro">
                                <div class=" doctor_list__container__col-2__card__name ">
                                    <a href="doctor/<%= doctors[i].id %>">
                                        <h3>
                                            <%= doctors[i].name %>
                                        </h3>
                                    </a>
                                </div>
                                <ul class="qualification">
                                    <li
                                        class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__achievement-1">
                                        <span><i class="fas fa-certificate"></i></span>
                                        <%= doctors[i].doctor.achievements[0] %>
                                    </li>
                                    <% if(doctors[i].doctor.achievements.length> 1) { %>
                                        <li
                                            class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__achievement-2">
                                            <span><img
                                                    src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/certificate.png"
                                                    alt=""></span>
                                            <%= doctors[i].doctor.achievements[1] %>
                                        </li>
                                        <% } %>
                                            <li
                                                class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__experience">
                                                <span><i class="fas fa-clock"></i></span>
                                                <%= doctors[i].doctor.experience %> Years Of Experience
                                            </li>
                                            <li
                                                class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__experience">
                                                <span><i class='fas fa-user-graduate'></i></span>
                                                <%= doctors[i].doctor.qualifications[0] %>
                                            </li>
                                            <% for(let h=0; h < doctors[i].doctor.hospitalList.length; h++) { %>
                                                <li
                                                    class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__hospital">
                                                    <span><i class="fas fa-building"></i></span>
                                                    <%= doctors[i].doctor.hospitalList[h] %>
                                                </li>
                                                <% } %>
                                                    <li
                                                        class="doctor_list__container__col-2__card__other_details__para doctor_list__container__col-2__card__other_details__location">
                                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                                        <%= doctors[i].location %>
                                                    </li>
                                                    <li><span><i class="fas fa-money-bill"></i></span>
                                                        <%= doctors[i].doctor.avg_fees %>
                                                    </li>

                                </ul>
                                <button class="doctor_list__container__col-2__card__book darkbluebtn btn">Book an
                                    appointment</button>

                                <a href="doctor/<%= doctors[i].id %>"><img src="<%= doctors[i].display_picture %>"
                                        alt="" class="doctor_list__container__col-2__card__doctor_img_wrapper__img">
                                </a>

                            </div>

                        </div>
                        <% } %>
                            <% } %>





    </section>
    <section class="container help">
        <h2>Need Help?</h2>
        <p>Just let us know, we will happy to assist you</p>
        <button class=" skybluebtn btns">Submit your enquiry</button>
    </section>
    <footer>
        <%- include ('partials/footer.ejs') %>
    </footer>
    <div class="lastline"></div>
    <script>
        function goToAppointment(slot) {
            window.location.href = `http://localhost:8000/appointment/${slot.dataset.doctorid}?slot=${slot.dataset.subslotid}&date=${slot.dataset.date}`;
        }
    </script>
    <script>
        let form_submit = (doc) => {

            let filter_finder = doc.parentElement.querySelector(".text");



            if (document.querySelector("._" + filter_finder.innerText.split(' ').join('-'))) {
                document.querySelector("._" + filter_finder.innerText.split(' ').join('-')).removeAttribute("checked", false);
            }


            document.querySelector("#filter_form").submit();

        }


        let filter = '<%- JSON.stringify(filter) %>';
        let sort_by = '<%- JSON.stringify(sort) %>';
        // console.log(filter);
        filter = JSON.parse(filter);
        sort_by = JSON.parse(sort_by);
        if (filter) {
            let key = Object.keys(filter)
            key.forEach(element => {
                for (let i = 0; i < filter[element].length; i++) {

                    document.querySelector("._" + filter[element][i].split(' ').join('-')).setAttribute("checked", true);

                }
            });
        }
        if (sort_by && sort_by != 'none') {
            document.querySelector(`option[value="${sort_by}"]`).setAttribute('selected', true);
        } else {
            document.querySelector('.not-specfied').setAttribute('selected', true);
        }
    </script>
    <!-- <script src="./../doctors.js"></script> -->
    <script>
        let url = window.location.search;
        url = url.split('%20').join(' ');
        const checkboxes = document.getElementsByClassName('checkbox_container');
        // console.log(checkboxes);

        [...checkboxes].forEach(checkbox => {
            if (url.indexOf(checkbox.firstChild.getAttribute('value')) > -1) {
                checkbox.firstChild.checked = true;
                document.getElementById("doctor_list__container__col-1__filter-by__tags").innerHTML +=
                    `<div class='filter_button'>
		        <p>${checkbox.firstChild.getAttribute('value')}</p>
		        <button 
		          name='${checkbox.firstChild.getAttribute('name')}'
		          value='${checkbox.firstChild.getAttribute('value')}' 
		          onclick='remove(this)'
		        >
		          <i class='fa fa-times'></i>
		        </button>
		      </div>`;
            }
        });


        function add(some) {
            let newUrl = window.location.href;
            if (some.checked) {
                //add query
                if (newUrl.indexOf('?') == -1) {
                    newUrl += `?${some.getAttribute('name')}=${some.getAttribute('value')}`;
                }
                else {
                    newUrl += `&${some.getAttribute('name')}=${some.getAttribute('value')}`
                }
            }
            else {
                //remove query
                newUrl = newUrl.split('%20').join(' ');
                const query = `${some.getAttribute('name')}=${some.getAttribute('value')}`;
                const inx = newUrl.indexOf(query);
                if (newUrl.indexOf(`${some.getAttribute('name')}=${some.getAttribute('value')}`) > -1) {
                    if (newUrl[inx - 1] === '&') {
                        newUrl = newUrl.replace('&' + query, '');
                    }
                    else {
                        newUrl = newUrl.replace(query, '');
                    }
                }
            }
            window.location.href = newUrl; //this line will redirect to new location
        }
        function remove(ele) {
            let newUrl = window.location.href;
            newUrl = newUrl.split('%20').join(' ');
            const query = `${ele.getAttribute('name')}=${ele.getAttribute('value')}`;
            const inx = newUrl.indexOf(query);
            if (newUrl.indexOf(`${ele.getAttribute('name')}=${ele.getAttribute('value')}`) > -1) {
                if (newUrl[inx - 1] === '&') {
                    newUrl = newUrl.replace('&' + query, '');
                }
                else {
                    newUrl = newUrl.replace(query, '');
                }
                window.location.href = newUrl; //this line will redirect to new location
            }
        }

       
    </script>


<!--  -->
    <script src="../js files/index.js"></script>
</body>

</html>